$primary-light-bg: #B2DFDB;
$primary-light-color: #fff;

$primary-normal-bg: #48b0a1;
$primary-normal-color: #fff;

$primary-strong-bg: #309fc3;
$primary-strong-color: #fff;

$secondary-bg: #FB8C00;
$secondary-color: #fff;

$primary-light-text-color: #B2DFDB;

$primary-normal-text-color: #48b0a1;

$primary-strong-text-color: #309fc3;

$secondary-text-color: #FB8C00;

$primary-transparent: rgba(72, 176, 161, 0.3);

$white-transparent: rgba(255, 255, 255, 0.97);

$visage-transparent: rgba(72, 176, 161, 0.7);

$visage-line-transparent: rgba(72, 176, 161, 0.5);

$error-color: rgb(213, 0, 0);

