<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Visage.ae - Back Office</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="NOINDEX, NOFOLLOW">

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/ngWig/dist/css/ng-wig.css" />
  <link rel="stylesheet" href="bower_components/visage-ng-common/dist/visage-ng-common.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- Absolute necessary style-->
  <style>
    .global-loader {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.93);
    }

    #bootstrap-loader {
      width: 200px;
      margin: 150px auto 0 auto;
      text-align: center;
    }

    #bootstrap-loader p {
      color: #6d6e71;
    }
  </style>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body class="visage">

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
  <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div id="config-module"></div>
<div id="visage-bo-app" class="full-height" global-loading="globalLoading" ng-cloak>
  <div class="global-loader" ng-if="false">
    <div id='bootstrap-loader'>
      <img src='images/logo.png' alt='visage loading'>
      <p>the recruiter network</p>
      <div style="text-align: center;">
        <md-progress-circular style="color:#309FC3">
          <div class="md-scale-wrapper md-mode-indeterminate">
            <div class="md-spinner-wrapper">
              <div class="md-inner">
                <div class="md-gap"></div>
                <div class="md-left">
                  <div class="md-half-circle"></div>
                </div>
                <div class="md-right">
                  <div class="md-half-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </md-progress-circular>
      </div>
    </div>
  </div>
  <section layout="row" class="full-height">
    <md-sidenav ng-if="!home" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Navigation</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="MenuCtrl">
        <md-list>
          <md-list-item ng-click="navigateTo('/jobs')">
            <md-icon>view_headline</md-icon>
            <p>Active jobs</p>
          </md-list-item>
          <md-list-item ng-click="navigateTo('/jobs/inactive')">
            <md-icon>history</md-icon>
            <p>Inactive jobs</p>
          </md-list-item>
          <md-list-item ng-click="navigateTo('/recruiters')">
            <md-icon>group</md-icon>
            <p>Recruiters</p>
          </md-list-item>
          <md-list-item ng-click="navigateTo('/experts')">
            <md-icon>work</md-icon>
            <p>Experts</p>
          </md-list-item>
          <md-list-item ng-click="navigateTo('/clients')">
            <md-icon>attach_money</md-icon>
            <p>Clients</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <div layout="column" flex>
      <header>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-if="!home" class="md-icon-button" aria-label="Settings"
                       ng-click="toggleSide('left')">
              <md-icon>menu</md-icon>
            </md-button>
            <a ng-click="goHome()">
              <img src="images/visage_inverted.png" alt="visage logo" id="visage-logo-header">
            </a>
            <p>Back Office</p>
            <span flex ng-if="home"></span>
            <search flex ng-if="!home"></search>
            <login></login>
          </div>
        </md-toolbar>
      </header>
      <div id="content" flex>
        <div class="normal" ng-view=""></div>
      </div>
    </div>
  </section>

</div>
<!-- Ext libs-->
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<script defer src="lib/iframeResizer.min.js"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script defer src="bower_components/angular/angular.js"></script>
<script defer src="bower_components/angular-animate/angular-animate.js"></script>
<script defer src="bower_components/angular-cookies/angular-cookies.js"></script>
<script defer src="bower_components/angular-resource/angular-resource.js"></script>
<script defer src="bower_components/angular-route/angular-route.js"></script>
<script defer src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script defer src="bower_components/angular-aria/angular-aria.js"></script>
<script defer src="bower_components/angular-messages/angular-messages.js"></script>
<script defer src="bower_components/angular-material/angular-material.js"></script>
<script defer src="bower_components/angular-payments/lib/angular-payments.js"></script>
<script defer src="bower_components/tether/dist/js/tether.js"></script>
<script defer src="bower_components/tether-shepherd/dist/js/shepherd.js"></script>
<script defer src="bower_components/auth0-lock/build/auth0-lock.js"></script>
<script defer src="bower_components/auth0.js/build/auth0.js"></script>
<script defer src="bower_components/auth0-angular/build/auth0-angular.js"></script>
<script defer src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
<script defer src="bower_components/moment/moment.js"></script>
<script defer src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script defer src="bower_components/lodash/dist/lodash.js"></script>
<script defer src="bower_components/checklist-model/checklist-model.js"></script>
<script defer src="bower_components/money.js/money.min.js"></script>
<script defer src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script defer src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script defer src="bower_components/x2js/xml2json.min.js"></script>
<script defer src="bower_components/angular-xml/angular-xml.js"></script>
<script defer src="bower_components/deep-diff/index.js"></script>
<script defer src="bower_components/ngWig/dist/ng-wig.js"></script>
<script defer src="bower_components/ngWig/dist/plugins/formats.ngWig.js"></script>
<script defer src="bower_components/visage-ng-common/dist/visage-ng-common.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script defer src="scripts/app.js"></script>
<script defer src="scripts/config.js"></script>
<script defer src="scripts/constants.js"></script>
<script defer src="scripts/run.js"></script>
<script defer src="scripts/directives/payment-status.js"></script>
<script defer src="scripts/directives/global-loading.js"></script>
<script defer src="scripts/directives/login.js"></script>
<script defer src="scripts/directives/edit-job.js"></script>
<script defer src="scripts/directives/campaign.js"></script>
<script defer src="scripts/directives/recruiter-profile.js"></script>
<script defer src="scripts/directives/recruiter-performances.js"></script>
<script defer src="scripts/directives/expert-profile.js"></script>
<script defer src="scripts/directives/expert-performances.js"></script>
<script defer src="scripts/directives/checklist-required.js"></script>
<script defer src="scripts/directives/bo-jobs.js"></script>
<script defer src="scripts/directives/ext-jobs.js"></script>
<script defer src="scripts/directives/comma-separated-emails.js"></script>
<script defer src="scripts/directives/mdautocompleterequired.js"></script>
<script defer src="scripts/directives/client-jobs.js"></script>
<script defer src="scripts/directives/recruiters.js"></script>
<script defer src="scripts/directives/experts.js"></script>
<script defer src="scripts/directives/invitations.js"></script>
<script defer src="scripts/directives/search.js"></script>
<script defer src="scripts/directives/pipeline.js"></script>

<script defer src="scripts/controllers/jobs.js"></script>
<script defer src="scripts/controllers/inactive-jobs.js"></script>
<script defer src="scripts/controllers/edit-job-offer.js"></script>
<script defer src="scripts/controllers/login.js"></script>
<script defer src="scripts/controllers/warning.js"></script>
<script defer src="scripts/controllers/menu.js"></script>
<script defer src="scripts/controllers/forbidden.js"></script>
<script defer src="scripts/controllers/recruiters.js"></script>
<script defer src="scripts/controllers/experts.js"></script>
<script defer src="scripts/controllers/edit-recruiter.js"></script>
<script defer src="scripts/controllers/edit-expert.js"></script>
<script defer src="scripts/controllers/clients.js"></script>
<script defer src="scripts/controllers/client-status.js"></script>
<script defer src="scripts/controllers/invite-recruiter.js"></script>
<script defer src="scripts/controllers/invite-expert.js"></script>
<script defer src="scripts/controllers/pick-experts.js"></script>
<script defer src="scripts/controllers/review-candidates.js"></script>

<script defer src="scripts/services/userfactory.js"></script>
<script defer src="scripts/services/joboffers.js"></script>
<script defer src="scripts/services/templocalstorage.js"></script>
<script defer src="scripts/services/orderservice.js"></script>
<script defer src="scripts/services/loader.js"></script>
<script defer src="scripts/services/customerservice.js"></script>
<script defer src="scripts/services/cachedresource.js"></script>
<script defer src="scripts/services/recruiter-assignments.js"></script>
<script defer src="scripts/services/expert-assignments.js"></script>
<script defer src="scripts/services/user.js"></script>
<script defer src="scripts/services/cached.js"></script>
<script defer src="scripts/services/preference.js"></script>
<script defer src="scripts/services/invitation.js"></script>
<script defer src="scripts/services/emailfactory.js"></script>
<script defer src="scripts/services/extjoboffers.js"></script>
<script defer src="scripts/services/search.js"></script>

<script defer src="scripts/filters/filters.js"></script>

<script defer src="scripts/bootstrap.js"></script>
<!-- endbuild -->
</body>
</html>
