<div id="main" class="md-inline-form mail-container md-whiteframe-z1">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Greetings !</h2>
    </div>
  </md-toolbar>
  <md-content class="mail-form" layout-gt-sm="row" layout-padding>
    <div style="width: 100%;">
      <form name="chooseProfile">
        <div layout-gt-sm="row">
          <md-button ng-click="employer()" class="md-raised md-primary md-hue-2 center-block">I am
            an employer
          </md-button>
          <md-button ng-click="candidate()" class="md-raised md-primary md-hue-2 md center-block">I
            am a candidate
          </md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
