<md-virtual-repeat-container class="dynamic-container">
  <md-list-item class="md-3-line noright" md-virtual-repeat="user in dynamicItems"
                md-on-demand
                ng-click="editRecruiter(user)">
    <img ng-hide="user.name" alt="default picture" ng-src="images/default-avatar.png"
         class="md-avatar"/>
    <img ng-show="user.name" alt="{{ user.name }} picture" ng-src="{{ user.picture }}"
         class="md-avatar"/>
    <div ng-show="user.name" class="md-list-item-text" layout="column">
      <h3><span class="md-subhead">{{user.name}} - {{user.recruiter.location}}</span></h3>
      <h4><span class="md-body-1">
                {{user.recruiter.industries.join(',')}}
              </span></h4>
      <p class="job-row-details">{{user.recruiter.recruitmentAreas.join(',')}}</p>
    </div>
    <div class="md-list-item-text" layout="column">
      <h4 ng-show="user.submittedCVCount || user.submittedCVCount === 0">
        <span class="md-body-1">Number of Submitted CVs: {{user.submittedCVCount}}</span>
      </h4>
      <h4 ng-show="user.approvedCVCount || user.approvedCVCount === 0">
        <span class="md-body-1">Number of Approved CVs: {{user.approvedCVCount}}</span>
      </h4>
      <h4 ng-show="user.totalBounty || user.totalBounty === 0">
        <span class="md-body-1">Total Bounty: {{user.totalBounty}}</span>
      </h4>
    </div>
    <md-tooltip ng-if="user.recruiter.validated" md-delay="500" md-direction="right">
      Validated
    </md-tooltip>
    <md-icon ng-if="user.recruiter.validated" class="md-primary">
      check_circle
    </md-icon>
  </md-list-item>
  <md-list-item ng-show="pendingRecruiters">
    <md-progress-circular class="md-padding center-block"
                          ng-show="pendingRecruiters"
                          md-mode="indeterminate"></md-progress-circular>
  </md-list-item>
</md-virtual-repeat-container>
